@import "./variables.scss";

:root {
    font-size: 16px;

    @media screen and (max-width: 600px) {
        font-size: 12px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden auto;
    font-size: 1rem;
    -webkit-user-select: none;

    font-family: $mainFont, $subFont;
    color: $text-color;
    background-color: $light-bg;

    &::-webkit-scrollbar {
        width: 0.45rem;
    }

    &::-webkit-scrollbar-thumb {
        background: $primary-color;
        border-radius: 20px;
    }
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 3vmax;
}

h2,
h3 {
    text-transform: capitalize;
    margin: 0;
}

h2 {
    font-size: 3rem;

    @media (max-width: 700px) {
        font-size: 2rem;
    }
}

a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        color: inherit;
    }
}

input,
button,
textarea {
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

input,
select,
textarea {
    width: 100%;
    padding: 0.5rem;
    font-family: inherit;
}

button:not(:disabled),
select,
input[type="submit"],
input[type="date"],
input[type="color"] {
    cursor: pointer;
}

input,
textarea {
    color: inherit;

    &::-webkit-input-placeholder {
        color: #cecece;
        text-transform: capitalize;
        font: 600 smaller $arimo-font;
        transition: opacity 0.3s;
    }

    &:focus::-webkit-input-placeholder {
        opacity: 0;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        box-shadow: 0 0 0 30px #fafafa inset !important; // $secondary-color
        color: $text-color !important;
        // -webkit-text-fill-color: $text-color !important;
    }
}

input {
    &[type="number"] {
        appearance: none;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
        }
    }

    &[type="color"] {
        appearance: none;

        // &::-webkit-color-swatch-wrapper {
        //     // padding: 0;
        // }

        &::-webkit-color-swatch {
            border: none;
        }
    }
}

textarea {
    resize: none;
}

button:disabled {
    cursor: auto;
}

:focus {
    outline: none !important;
}

.container {
    width: 90vw !important;
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;

    @media (max-width: 476px) {
        width: 100% !important;
    }
}

.form-container {
    @extend %windowRestHeight;

    .form-wrapper {
        padding: 2rem;
        color: $secondary-color;
    }
}

.validation-error--underline {
    color: $errorLightColor; // f44336
    display: block;
    max-height: 0;
    white-space: nowrap;
    font: 600 80% $ubuntu-font;
    text-transform: capitalize;
    padding-left: 0.5rem;
}

.validation-error--tooltip {
    position: absolute;
    top: 0;
    bottom: auto;
    z-index: 90;
    transform: translateY(-100%);
    padding: 10px;
    border-radius: 5px;
    font: bold 80% $ubuntu-font; // 13px small
    text-transform: capitalize;
    display: block;

    background-color: #fff6f6; // fff6b7

    color: $errorLightColor;
    border: 1px solid currentColor;
    // border-color: $errorLightestColor;

    &::after {
        content: "";
        position: absolute;
        left: 10px;
        bottom: -6px;
        width: 10px;
        height: 10px;
        z-index: 91;
        background-color: inherit;
        border-bottom: 1px solid;
        border-left: 1px solid;
        border-color: inherit;
        transform: rotate(-45deg);
    }
}

.error-message {
    color: $errorLightColor;
    text-transform: capitalize;
    margin: 2rem 0 0;
    border-left: 5px solid $errorLightColor;
    padding: 1rem;
    border-radius: 5px 0 0 5px;
    line-height: 1.5;
    font-family: $raleway-font;
    font-size: 1rem;
    display: none;

    .error {
        font-weight: bold;
        margin-bottom: 0.75rem;

        i {
            color: inherit;
            font-size: 1.5rem;
            margin-right: 0.25rem;
        }
    }

    &.show {
        display: block;
    }
}

%windowRestHeight {
    min-height: calc(100vh - var(--nav-height));
}

%submit-btn {
    display: block;
    margin: 2rem auto 0;
    font: 500 1rem $comicSnsMs-font;
    padding: 0.65rem 1rem;
    text-transform: capitalize;
    background-color: $primary-color;
    color: ghostwhite;
    border-radius: 0.5rem;

    @media (max-width: 400px) {
        width: 100% !important;
    }
}

.page-loader {
    all: initial;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;

    background-image: radial-gradient(
        circle at top right,
        rgb(49, 157, 235) 0%,
        rgb(49, 157, 235) 13%,
        rgb(76, 166, 234) 13%,
        rgb(76, 166, 234) 23%,
        rgb(103, 176, 232) 23%,
        rgb(103, 176, 232) 33%,
        rgb(130, 185, 231) 33%,
        rgb(130, 185, 231) 46%,
        rgb(156, 194, 230) 46%,
        rgb(156, 194, 230) 48%,
        rgb(183, 203, 229) 48%,
        rgb(183, 203, 229) 63%,
        rgb(236, 236, 236) 63%,
        rgb(236, 236, 236) 83%,
        rgb(245, 245, 245) 83%,
        rgb(245, 245, 245) 100%
    );

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    $fill-color: white;

    section {
        .loader {
            position: relative;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin: 75px;
            display: inline-block;
            vertical-align: middle;

            svg {
                polygon {
                    fill: $fill-color;
                }
            }
        }

        .loader-star {
            position: absolute;
            top: calc(50% - 12px);
        }

        .loader-2 .loader-star {
            position: static;
            width: 100%;
            height: 100%;
            transform: scale(0.7);
            animation: loader-2-star 1s ease alternate infinite;
        }

        .loader-2 .loader-circles {
            width: 8px;
            height: 8px;
            background: $fill-color;
            border-radius: 50%;
            position: absolute;
            left: calc(50% - 4px);
            top: calc(50% - 4px);
            transition: all 1s ease;
            animation: loader-2-circles 1s ease-in-out alternate infinite;
        }

        @-webkit-keyframes loader-2-circles {
            0% {
                box-shadow: 0 0 0 $fill-color;
                opacity: 1;
                transform: rotate(0deg);
            }
            50% {
                box-shadow: 24px -22px $fill-color, 30px -15px 0 -3px $fill-color, 31px 0px $fill-color,
                    29px 9px 0 -3px $fill-color, 24px 23px $fill-color, 17px 30px 0 -3px $fill-color, 0px 33px $fill-color,
                    -10px 28px 0 -3px $fill-color, -24px 22px $fill-color, -29px 14px 0 -3px $fill-color,
                    -31px -3px $fill-color, -30px -11px 0 -3px $fill-color, -20px -25px $fill-color,
                    -12px -30px 0 -3px $fill-color, 5px -29px $fill-color, 13px -25px 0 -3px $fill-color;
                transform: rotate(180deg);
            }
            100% {
                opacity: 0;
                transform: rotate(360deg);
                box-shadow: 25px -22px $fill-color, 15px -22px 0 -3px black, 31px 2px $fill-color, 21px 2px 0 -3px black,
                    23px 25px $fill-color, 13px 25px 0 -3px black, 0px 33px $fill-color, -10px 33px 0 -3px black,
                    -26px 24px $fill-color, -19px 17px 0 -3px black, -32px 0px $fill-color, -23px 0px 0 -3px black,
                    -25px -23px $fill-color, -16px -23px 0 -3px black, 0px -31px $fill-color, -2px -23px 0 -3px black;
            }
        }

        @keyframes loader-2-circles {
            0% {
                box-shadow: 0 0 0 $fill-color;
                opacity: 1;
                transform: rotate(0deg);
            }
            50% {
                box-shadow: 24px -22px $fill-color, 30px -15px 0 -3px $fill-color, 31px 0px $fill-color,
                    29px 9px 0 -3px $fill-color, 24px 23px $fill-color, 17px 30px 0 -3px $fill-color, 0px 33px $fill-color,
                    -10px 28px 0 -3px $fill-color, -24px 22px $fill-color, -29px 14px 0 -3px $fill-color,
                    -31px -3px $fill-color, -30px -11px 0 -3px $fill-color, -20px -25px $fill-color,
                    -12px -30px 0 -3px $fill-color, 5px -29px $fill-color, 13px -25px 0 -3px $fill-color;
                transform: rotate(180deg);
            }
            100% {
                opacity: 0;
                transform: rotate(360deg);
                box-shadow: 25px -22px $fill-color, 15px -22px 0 -3px black, 31px 2px $fill-color, 21px 2px 0 -3px black,
                    23px 25px $fill-color, 13px 25px 0 -3px black, 0px 33px $fill-color, -10px 33px 0 -3px black,
                    -26px 24px $fill-color, -19px 17px 0 -3px black, -32px 0px $fill-color, -23px 0px 0 -3px black,
                    -25px -23px $fill-color, -16px -23px 0 -3px black, 0px -31px $fill-color, -2px -23px 0 -3px black;
            }
        }

        @-webkit-keyframes loader-2-star {
            0% {
                transform: scale(0) rotate(0deg);
            }
            100% {
                transform: scale(0.7) rotate(360deg);
            }
        }

        @keyframes loader-2-star {
            0% {
                transform: scale(0) rotate(0deg);
            }
            100% {
                transform: scale(0.7) rotate(360deg);
            }
        }
    }

    @keyframes waveBackground {
        0% {
        }

        100% {
        }
    }
}

.not-found {
    min-height: 90vh;
    font-family: $righteous-font;
    display: flex;
    justify-content: center;
    align-items: center;

    .not-found--wrapper {
        background: linear-gradient(45deg, $primary-color, $secondary-color);
        background-size: 100% 100%;
        width: 60%;
        min-height: 70vh;
        margin: 0 auto;
        filter: drop-shadow($primary-color 0 0 20px);
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: white;

        h1 {
            text-transform: uppercase;
        }

        a {
            button {
                background-color: $primary-color;
                padding: 0.75rem 2rem;
                border-radius: 5px;
                min-width: 20%;
                text-align: center;
                font: 600 1.5rem $arimo-font;
                text-transform: capitalize;
                color: inherit;
            }
        }

        @media (max-width: 769px) {
            width: 90%;
        }
    }
}

.file-upload-container {
    position: relative;
    margin: 0.5rem 0;

    .file-upload {
        background-size: 100% 100% !important;
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $primary-color;
            filter: opacity(0.5);
        }

        &::after {
            content: "+";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary-color;
            font-size: 2.5rem;
            border-radius: 50%;
            background-color: $secondary-color;
        }

        &::before,
        &::after {
            pointer-events: none;
        }

        input[type="file"] {
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        &.src-pr {
            &::before,
            &::after {
                opacity: 0;
                transition: 0.4s;
            }

            &:hover {
                &::before,
                &::after {
                    opacity: 1;
                }
            }
        }
    }

    @media (max-width: 500px) {
        width: 100%;
    }
}

.dimmer-loader {
    height: 200px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(78, 87, 87, 0.5);
    border-radius: 7px;

    i {
        font-size: 3rem;
    }
}

.cropper {
    position: relative;
    height: 200px;
    margin: 0 0 1rem;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    overflow: hidden auto;
    background-color: #000000d9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

    .modal-content {
        flex-basis: 100%;
    }

    .title {
        text-align: center;
        font-size: 2.25rem;
        color: $primary-color;
        margin-bottom: 2rem;

        h2 {
            font-size: inherit;
            font-family: $monoton-font;
            word-spacing: 0.25rem;
        }
    }

    .form-container {
        min-height: auto;

        .form-wrapper {
            border-radius: 10px;
            background-color: #fff;
            color: $text-color;
            box-shadow: 0 1px 2px 0 #22242626;
            border: 1px solid #22242626;

            form {
                .actions {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 2rem;
                    column-gap: 1rem;

                    button {
                        text-transform: capitalize;
                        font-family: $oswald-font;
                        padding: 0.625rem 3rem 0.625rem 2rem;
                        border-radius: 5px;
                        position: relative;
                        color: white;
                        transition: background-color 0.3s;

                        i {
                            font-size: 90%;
                            background-color: rgba(0, 0, 0, 0.051);
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 2.57142857em;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        &.submit-btn {
                            background-color: $secondary-color;

                            &:disabled {
                                color: #00000042;
                                background-color: #0000001f;
                            }

                            &:hover:not(:disabled),
                            &:active:not(:disabled) {
                                background-color: $primary-color;
                            }
                        }

                        &.cancel-btn {
                            background-color: $errorLightColor;

                            &:hover,
                            &:active {
                                background-color: #da3a2fe8;
                            }
                        }
                    }
                }
            }
        }
    }

    &.add-todo--modal {
        .form-container {
            .form-wrapper {
                padding: 3rem 2rem 4rem;

                form {
                    .inputs-container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 1rem;
                        flex-wrap: wrap;
                        position: relative;

                        .field {
                            position: relative;
                            flex: 1;
                            height: fit-content;

                            label {
                                color: #0000008a;
                                font: 500 1rem $roboto-font;
                                text-transform: capitalize;
                                pointer-events: none;
                                position: absolute;
                                top: 0;
                                left: 0;
                                transform-origin: top left;
                                transform: translate(2%, 55%) scale(1);
                                transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
                                    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
                            }

                            input {
                                border-bottom: 2px solid #b2b2b2;
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                transform: scaleX(0);
                                width: 100%;
                                border-bottom: 2px solid $secondary-color;
                                transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
                            }

                            &:focus-within:not(.error) {
                                label {
                                    color: $primary-color;
                                }

                                &::after {
                                    transform: scaleX(1);
                                }
                            }

                            &.active {
                                label {
                                    transform: translateY(-60%) scale(0.8);
                                }
                            }

                            &.error {
                                color: $errorDarkColor;

                                label {
                                    color: inherit;
                                }

                                input {
                                    border-bottom-color: $errorLightestColor;
                                }
                            }
                        }

                        .date--picker {
                            .react-datepicker-wrapper {
                                input {
                                    border-bottom: 2px solid #b2b2b2;
                                    color: #0000008a;
                                    padding-right: 16px;
                                }
                            }

                            .fa-calendar-alt {
                                position: absolute;
                                top: 50%;
                                right: 6px;
                                transform: translateY(-60%);
                                pointer-events: none;
                                color: #00000033;
                                font-size: 1.75rem;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 400px) {
            .form-container {
                .title {
                    font-size: 1.5rem;
                }

                .form-wrapper {
                    form {
                        .inputs-container {
                            .field,
                            .date--picker {
                                flex-basis: 100%;
                            }

                            .field {
                                margin-bottom: 2rem;
                            }

                            .date--picker {
                                .react-datepicker-wrapper {
                                    width: 100%;
                                }

                                .fa-calendar-alt {
                                    top: auto;
                                    bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.update-user-profile--modal {
        .modal-content {
            flex-basis: 500px;
        }

        .form-container {
            .form-wrapper {
                padding: 1rem 2rem;

                form {
                    .field {
                        position: relative;

                        &:not(:last-of-type) {
                            margin-bottom: 1rem;
                        }

                        label {
                            text-transform: capitalize;
                            display: block;
                            font-weight: 500;
                            margin-bottom: 0.5rem;

                            &::first-letter {
                                font-size: large;
                            }
                        }

                        input {
                            border: 1px solid #22242626;
                            box-shadow: 0 0 0 0 transparent inset;
                            border-radius: 0.5rem;
                            margin-bottom: 0.2rem;
                            padding: 1rem;
                            padding-left: 2.5rem;
                            transition: color 0.1s ease, border-color 0.1s ease;

                            &::-webkit-input-placeholder {
                                color: #918985;
                            }

                            &:focus {
                                background: #fff;
                                border-color: $primary-color;
                                box-shadow: 0 0 0 0 #22242659 inset;
                            }
                        }

                        i {
                            position: absolute;
                            top: 50%;
                            left: 1rem;
                            transform: translateY(-60%);
                            color: #000000de;
                            pointer-events: none;
                            opacity: 0.5;
                        }

                        &:not(.error):focus-within {
                            i {
                                color: $primary-color !important;
                                opacity: 1;
                            }
                        }

                        &.error {
                            color: $errorDarkColor;

                            input {
                                background-color: #fff6f6;
                                border-color: $errorLightestColor;

                                &::-webkit-input-placeholder {
                                    color: currentColor;
                                }
                            }

                            i {
                                color: inherit;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        .modal-content {
            flex-basis: 700px;
        }
    }
}

.register-form {
    padding: 1rem;

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: calc(100vh - var(--nav-height) - 2rem);

        .form-title {
            text-align: center;
            font-size: 2.5rem;
            color: $primary-color;

            i {
                font-size: 5.5rem;
                margin-bottom: 0.35rem;
            }

            h2 {
                font-size: inherit;
                font-family: $monoton-font;
                line-height: 100%;
            }
        }

        .form-wrapper {
            width: 600px;
            padding: 1rem;
            padding-bottom: 0;

            .form {
                border-radius: 10px;
                background-color: #fff;
                color: $text-color;
                box-shadow: 0 1px 2px 0 #22242626;
                border: 1px solid #22242626;
                padding: 1.5rem 2rem;

                form {
                    .field {
                        position: relative;

                        &:not(:last-of-type) {
                            margin-bottom: 2rem;
                        }

                        label {
                            text-transform: capitalize;
                            display: block;
                            font-weight: 500;

                            &::first-letter {
                                font-size: large;
                            }
                        }

                        input {
                            border: 1px solid #22242626;
                            box-shadow: 0 0 0 0 transparent inset;
                            border-radius: 0.5rem;
                            margin-bottom: 0.2rem;
                            padding: 1rem;
                            padding-left: 2.5rem;
                            transition: color 0.1s ease, border-color 0.1s ease;

                            &::-webkit-input-placeholder {
                                color: #918985;
                            }

                            &:focus {
                                background: #fff;
                                border-color: $primary-color;
                                box-shadow: 0 0 0 0 #22242659 inset;
                            }
                        }

                        i {
                            position: absolute;
                            top: 50%;
                            left: 1rem;
                            transform: translateY(-60%);
                            color: #000000de;
                            pointer-events: none;
                            opacity: 0.5;
                            // display: flex;
                            // align-items: center;
                            // height: 95%;
                        }

                        &:not(.error):focus-within {
                            i {
                                color: $primary-color !important;
                                opacity: 1;
                            }
                        }

                        &.error {
                            color: $errorDarkColor;

                            input {
                                background-color: #fff6f6;
                                border-color: $errorLightestColor;

                                &::-webkit-input-placeholder {
                                    color: currentColor;
                                }
                            }

                            i {
                                color: inherit;
                            }
                        }
                    }

                    .submit-btn {
                        @extend %submit-btn;
                        width: 60%;
                        margin-top: 1rem;
                    }
                }
            }

            .login-link-wrapper {
                margin-top: 1rem;
                padding: 1rem 0;
                text-align: center;
                text-transform: capitalize;
                font-family: $righteous-font;
                background-color: #fafafa;
                color: $text-color;
                box-shadow: 0 1px 2px 0 #22242626;
                border: 1.5px solid #22242626;
                border-radius: 0.5rem;

                a {
                    color: $primary-color;
                    font-weight: 600;
                    transition: color 0.3s;

                    &:hover,
                    &:active {
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    // 768px
    @media (max-width: 600px) {
        .form-container .form-wrapper {
            width: 100%;
        }
    }
}

.login-form {
    padding: 1.5rem 1rem;

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: calc(100vh - var(--nav-height) - 3rem);

        .form-title {
            text-align: center;
            font-size: 2.5rem;
            color: $primary-color;

            i {
                font-size: 5.5rem;
                margin-bottom: 0.75rem;
            }

            h2 {
                font-size: inherit;
                font-family: $monoton-font;
                word-spacing: 0.25rem;
                line-height: 100%;
            }
        }

        .form-wrapper {
            width: 600px;
            padding-bottom: 0;
            padding: 1rem;
            padding-bottom: 0;

            .form {
                padding: 1.5rem 2rem;
                border-radius: 10px;
                background-color: #fff;
                color: $text-color;
                box-shadow: 0 1px 2px 0 #22242626;
                border: 1px solid #22242626;

                form {
                    .field {
                        position: relative;

                        &:not(:last-of-type) {
                            margin-bottom: 2rem;
                        }

                        label {
                            text-transform: capitalize;
                            display: block;
                            font-weight: 500;

                            &::first-letter {
                                font-size: large;
                            }
                        }

                        input {
                            border: 1px solid #22242626;
                            box-shadow: 0 0 0 0 transparent inset;
                            border-radius: 0.5rem;
                            margin-bottom: 0.2rem;
                            padding: 1rem;
                            padding-left: 2.5rem;
                            transition: color 0.1s ease, border-color 0.1s ease;

                            &::-webkit-input-placeholder {
                                color: #918985;
                            }

                            &:focus {
                                background: #fff;
                                border-color: $primary-color;
                                box-shadow: 0 0 0 0 #22242659 inset;
                            }
                        }

                        i {
                            position: absolute;
                            top: 50%;
                            left: 1rem;
                            transform: translateY(-60%);
                            color: #000000de;
                            pointer-events: none;
                            opacity: 0.5;
                        }

                        &:not(.error):focus-within {
                            i {
                                color: $primary-color !important;
                                opacity: 1;
                            }
                        }

                        &.error {
                            color: $errorDarkColor;

                            input {
                                background-color: #fff6f6;
                                border-color: $errorLightestColor;

                                &::-webkit-input-placeholder {
                                    color: currentColor;
                                }
                            }

                            i {
                                color: inherit;
                            }
                        }
                    }

                    .submit-btn {
                        @extend %submit-btn;
                        width: 60%;
                    }
                }
            }

            .register-link-wrapper {
                margin-top: 1rem;
                padding: 1rem 0;
                text-align: center;
                text-transform: capitalize;
                font-family: $righteous-font;
                background-color: #fafafa;
                color: $text-color;
                box-shadow: 0 1px 2px 0 #22242626;
                border: 1.5px solid #22242626;
                border-radius: 0.5rem;

                a {
                    color: $primary-color;
                    font-weight: 600;
                    transition: color 0.3s;

                    &:hover,
                    &:active {
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    // 768px
    @media (max-width: 600px) {
        .form-container .form-wrapper {
            width: 100%;
        }
    }
}

nav.main-nav {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    background-color: $dark-bg;
    position: relative;

    background-image: radial-gradient(circle at center center, transparent, rgb(255, 255, 255)),
        linear-gradient(
            309deg,
            rgba(90, 90, 90, 0.05) 0%,
            rgba(90, 90, 90, 0.05) 50%,
            rgba(206, 206, 206, 0.05) 50%,
            rgba(206, 206, 206, 0.05) 100%
        ),
        linear-gradient(
            39deg,
            rgba(13, 13, 13, 0.05) 0%,
            rgba(13, 13, 13, 0.05) 50%,
            rgba(189, 189, 189, 0.05) 50%,
            rgba(189, 189, 189, 0.05) 100%
        ),
        linear-gradient(
            144deg,
            rgba(249, 249, 249, 0.05) 0%,
            rgba(249, 249, 249, 0.05) 50%,
            rgba(111, 111, 111, 0.05) 50%,
            rgba(111, 111, 111, 0.05) 100%
        ),
        linear-gradient(
            166deg,
            rgba(231, 231, 231, 0.05) 0%,
            rgba(231, 231, 231, 0.05) 50%,
            rgba(220, 220, 220, 0.05) 50%,
            rgba(220, 220, 220, 0.05) 100%
        ),
        linear-gradient(
            212deg,
            rgba(80, 80, 80, 0.05) 0%,
            rgba(80, 80, 80, 0.05) 50%,
            rgba(243, 243, 243, 0.05) 50%,
            rgba(243, 243, 243, 0.05) 100%
        ),
        radial-gradient(circle at center center, hsl(107, 19%, 100%), hsl(107, 19%, 100%));

    .container {
        position: static;
        display: flex;
        align-items: center;
    }

    .logo {
        a {
            display: flex;
            align-items: center;
            column-gap: 0.25rem;

            h2 {
                font-size: inherit;
                // color: #ddd;
            }
        }
    }

    .toggle-nav-btn {
        /*position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            padding: 0.35rem;
            display: none;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
    
            span {
                display: block;
                width: 100%;
                height: 4px;
                background-color: $secondary-color;
                padding: 0;
                margin: 0;
                border: none;
                border-radius: 20px;
                position: relative;
                pointer-events: none;
                transition: 0.3s;
    
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    background-color: $secondary-color;
                    width: inherit;
                    height: inherit;
                    transform: translateX(-10%) scaleX(1.2);
                    border-radius: inherit;
                    transition: 0.3s;
                }
    
                &::before {
                    top: -10px;
                }
    
                &::after {
                    bottom: -10px;
                }
            }
    
            &.active {
                span {
                    max-height: 0;
    
                    &::before {
                        transform: rotate(50deg) translate(7px, 4px);
                    }
    
                    &::after {
                        transform: rotate(-50deg) translate(7px, -4px);
                    }
                }
            }*/
        display: none;

        &.navbar-toggler {
            padding: 0.25rem 0.75rem;
            font-size: 1.25rem;
            line-height: 1;
            background-color: transparent;
            border: 1px solid transparent;
            border-radius: 0.25rem;
            margin-left: auto;

            .menu_toggle {
                width: 22px; // old 22px
                height: 22px;
                position: relative;
                cursor: pointer;
                display: block;

                @media (max-width: 991px) {
                    transition: all 0.2s linear;
                }

                .hamburger {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    display: block;

                    span {
                        width: 0%;
                        height: 2px; // old 2px
                        position: relative;
                        top: 0;
                        left: 0;
                        margin: 4px 0;
                        display: block;
                        background: $secondary-color;
                        border-radius: 3px;
                        transition: 0.2s ease-in-out;

                        &:nth-child(1) {
                            transition-delay: 0s;
                        }

                        &:nth-child(2) {
                            transition-delay: 0.125s;
                        }

                        &:nth-child(3) {
                            transition-delay: 0.2s;
                        }
                    }
                }

                .hamburger-cross {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    transform: rotate(45deg); // remove it
                    display: block;

                    span {
                        display: block;
                        background: $secondary-color;
                        border-radius: 3px;
                        transition: 0.2s ease-in-out;

                        &:nth-child(1) {
                            width: 2px; // make it 100%
                            height: 100%; // make it 2px
                            position: absolute;
                            top: 0; // make it 10px
                            left: 10px; // make it 0
                            transition-delay: 0.3s; // add transform rotate(45deg)
                        }

                        &:nth-child(2) {
                            width: 100%;
                            height: 2px;
                            position: absolute;
                            top: 10px;
                            left: 0;
                            transition-delay: 0.4s; // add transform rotate(-45deg)
                        }
                    }
                }
            }

            &.collapsed {
                .menu_toggle {
                    .hamburger span {
                        width: 100%;

                        &:nth-child(1) {
                            transition-delay: 0.3s;
                        }

                        &:nth-child(2) {
                            transition-delay: 0.4s;
                        }

                        &:nth-child(3) {
                            transition-delay: 0.5s;
                        }
                    }

                    .hamburger-cross span {
                        &:nth-child(1) {
                            height: 0%;
                            transition-delay: 0s;
                        }

                        &:nth-child(2) {
                            width: 0%;
                            transition-delay: 0.2s;
                        }
                    }
                }
            }
        }
    }

    .links-container {
        display: flex;
        margin-left: auto;

        li {
            text-align: center;

            a,
            button {
                display: block;
                font-family: $comicNeue-font;
                font-weight: 900;
                line-height: 100%;
                padding: 0.75rem 1rem;
                text-transform: capitalize;
                width: 100%;
                color: inherit;

                &.active {
                    background-color: $secondary-color;
                    color: ghostwhite;

                    button {
                        font-weight: 900 !important;
                    }
                }
            }
        }
    }

    @media (max-width: 700px) {
        .logo {
            margin-right: 0;
        }

        .toggle-nav-btn {
            display: flex !important;
        }

        .links-container {
            position: absolute;
            top: var(--nav-height);
            left: 0;
            z-index: 1;
            overflow: hidden;
            display: block;

            background-image: linear-gradient(
                    135deg,
                    rgba(49, 49, 49, 0.07) 0%,
                    rgba(49, 49, 49, 0.07) 12.5%,
                    rgba(76, 76, 76, 0.07) 12.5%,
                    rgba(76, 76, 76, 0.07) 25%,
                    rgba(102, 102, 102, 0.07) 25%,
                    rgba(102, 102, 102, 0.07) 37.5%,
                    rgba(129, 129, 129, 0.07) 37.5%,
                    rgba(129, 129, 129, 0.07) 50%,
                    rgba(155, 155, 155, 0.07) 50%,
                    rgba(155, 155, 155, 0.07) 62.5%,
                    rgba(182, 182, 182, 0.07) 62.5%,
                    rgba(182, 182, 182, 0.07) 75%,
                    rgba(208, 208, 208, 0.07) 75%,
                    rgba(208, 208, 208, 0.07) 87.5%,
                    rgba(235, 235, 235, 0.07) 87.5%,
                    rgba(235, 235, 235, 0.07) 100%
                ),
                linear-gradient(
                    45deg,
                    rgba(5, 5, 5, 0.07) 0%,
                    rgba(5, 5, 5, 0.07) 12.5%,
                    rgba(39, 39, 39, 0.07) 12.5%,
                    rgba(39, 39, 39, 0.07) 25%,
                    rgba(73, 73, 73, 0.07) 25%,
                    rgba(73, 73, 73, 0.07) 37.5%,
                    rgba(107, 107, 107, 0.07) 37.5%,
                    rgba(107, 107, 107, 0.07) 50%,
                    rgba(141, 141, 141, 0.07) 50%,
                    rgba(141, 141, 141, 0.07) 62.5%,
                    rgba(175, 175, 175, 0.07) 62.5%,
                    rgba(175, 175, 175, 0.07) 75%,
                    rgba(209, 209, 209, 0.07) 75%,
                    rgba(209, 209, 209, 0.07) 87.5%,
                    rgba(243, 243, 243, 0.07) 87.5%,
                    rgba(243, 243, 243, 0.07) 100%
                ),
                linear-gradient(90deg, #ffffff, #ffffff);
            color: $primary-color;
            width: 100%;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform 0.3s;

            li {
                a,
                button {
                    &.active {
                        background-color: $secondary-color;
                    }
                }
            }
        }

        &.open {
            .links-container {
                transform: scaleY(1);
            }
        }
    }
}

.home,
.todos-page {
    @extend %windowRestHeight;
    position: relative;

    .user-profile {
        margin-bottom: 7rem;
        display: flex;

        .user-info {
        }

        .user-avatar {
            margin-left: auto;
            cursor: pointer;

            img {
                // width: 50px;
                // height: 50px;
                // border-radius: 50%;
                padding: 3px;
                background-color: #eee;
                border: 3px solid #ddd;

                display: inline-block;
                vertical-align: middle;
                max-width: 100%;
                width: 4.5em;
                height: 4.5em;
                border-radius: 500rem;
            }
        }
    }

    .todos-app {
        padding: 4rem 1rem;

        .section {
            padding: 1rem;
            border-radius: 0.5rem;
            box-shadow: 0px 1px 5px 0px #00000033, 0px 2px 2px 0px #00000024, 0px 3px 1px -2px #0000001f;

            .section-heading {
                display: flex;
                align-items: center;
                column-gap: 1rem;
                border-bottom: 1px solid #eee;
                padding-bottom: 1rem;

                .section-icon {
                    transform: translateY(-66%);
                    padding: 1rem;
                    border-radius: 0.5rem;
                    box-shadow: 0 12px 20px -10px #29b6f647, 0 4px 20px 0px #0000001f, 0 7px 8px -5px #29b6f633;

                    i {
                        color: white;
                        font-size: 2rem;
                    }
                }

                .section-title {
                    text-transform: capitalize;
                    font-size: 1.25rem;
                    font-family: $righteous-font;
                }
            }
        }

        .todos {
            .section-heading {
                .section-icon {
                    background: linear-gradient(60deg, $primary-color, $secondary-color);
                }
            }

            .todos-container.section-content {
                .todos-list {
                    margin-top: 1rem;

                    .todo-item {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        padding: 1.6rem 1rem 0.5rem;
                        position: relative;

                        &:not(:first-child) {
                            border-top: 1px solid #0000001f;
                            margin-top: 1rem;
                        }

                        .todo-create-date {
                            font: 500 70% $righteous-font;
                            position: absolute;
                            top: 7px;
                            left: 10px;
                        }

                        .inputs-container {
                            flex: 1;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 1rem;
                            flex-wrap: wrap;

                            .field {
                                position: relative;
                                height: fit-content;
                                flex: 1;

                                input {
                                    border-bottom: 2px solid #b2b2b2;
                                }

                                &::after {
                                    content: "";
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    transform: scaleX(0);
                                    width: 100%;
                                    border-bottom: 2px solid $secondary-color;
                                    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
                                }

                                &:focus-within {
                                    &::after {
                                        transform: scaleX(1);
                                    }
                                }
                            }

                            .react-datepicker-wrapper {
                                flex: 0.5;

                                input {
                                    border-bottom: 2px solid #b2b2b2;
                                    color: #0000008a;
                                }
                            }
                        }

                        .custom-radio {
                            input[type="checkbox"] {
                                display: none;

                                + label {
                                    color: #333;
                                    font-size: 1rem;
                                    margin: -1px 4px 0 0;
                                    display: block;

                                    span {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        width: 30px;
                                        height: 30px;
                                        vertical-align: middle;
                                        cursor: pointer;
                                        border-radius: 50%;
                                        border: 2px solid #ffffff;
                                        box-shadow: 0 1px 3px 0 #00000054, 0 -1px 3px 0 #00000054;

                                        img {
                                            opacity: 0;
                                            transition: all 0.3s ease;
                                        }
                                    }
                                }

                                &:checked + label span {
                                    background-color: #2ecc71;

                                    img {
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        .todo-task {
                            flex: 1;

                            .todo-estimate--date {
                                color: gray;
                                font-size: 80%;
                            }
                        }

                        .actions {
                            display: flex;
                            align-items: center;

                            button {
                                flex: 1;
                                font-size: 1rem;
                                text-align: center;
                                padding: 1rem;
                                border-radius: 50%;
                                width: 50px;
                                height: 50px;
                                transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

                                &:hover {
                                    background-color: #00000014;
                                }

                                &.edit-todo--btn {
                                    color: #6abe6d;
                                }

                                &.delete-todo--btn {
                                    color: #f44336;
                                }

                                &.confirm-todo--btn {
                                    color: #6abe6d;
                                }

                                &.cancel-todo--btn {
                                    color: #f44336;
                                }
                            }
                        }

                        &.completed {
                            background-color: #eee;
                            border-radius: 0.5rem;
                        }

                        @media (max-width: 450px) {
                            .inputs-container {
                                .field,
                                .react-datepicker-wrapper {
                                    flex-basis: 100%;
                                }
                            }

                            .actions {
                                align-self: flex-end;

                                .confirm-todo--btn,
                                .cancel-todo--btn {
                                    font-size: 1.15rem;
                                }
                            }
                        }
                    }
                }
            }

            .message {
                font-size: 1rem;
                font-weight: 600;
                text-align: center;
                text-transform: capitalize;
                padding: 2rem 0;
            }
        }

        .loader {
            text-align: center;
            padding: 2rem 0 1.25rem;
        }

        @media (min-width: 991px) {
            width: 60% !important;
        }
    }
}

.home {
    .todos-app {
        .section {
            .section-heading {
                .field {
                    flex: 0.7;
                    position: relative;
                    margin-left: auto;

                    input {
                        border: 1px solid #22242634;
                        border-radius: 0.5rem;
                        padding: 0.75rem 1rem 0.75rem;
                        transition: color 0.1s ease, border-color 0.1s ease;

                        &::-webkit-input-placeholder {
                            color: #c7c7c7;
                            font-size: medium;
                        }

                        &:focus {
                            background: #fff;
                            border-color: $primary-color;
                            box-shadow: 0 0 0 0 #22242659 inset;
                        }
                    }

                    i {
                        position: absolute;
                        top: 50%;
                        right: 1rem;
                        transform: translateY(-50%);
                        color: #000000de;
                        pointer-events: none;
                        opacity: 0.5;
                    }
                }

                .add-todo-btn {
                    height: 58px;
                    flex-basis: 58px;
                    border-radius: 50%;
                    align-self: center;
                    color: white;
                    background-color: $secondary-color;
                    box-shadow: 0px 3px 5px -1px #00000033, 0px 6px 10px 0px #00000024, 0px 1px 18px 0px #0000001f;
                    transition: background-color 0.3s;

                    i {
                        font-size: 1rem;
                    }

                    &:hover {
                        background-color: $primary-color;
                    }
                }
            }
        }
    }

    @media (max-width: 700px) {
        .todos-app {
            .todos {
                .section-heading {
                    flex-wrap: wrap;

                    .field {
                        margin: 0;
                        flex: 1 0 calc(100% - 100px);
                    }

                    .add-todo-btn {
                        flex-basis: 45px;
                        height: 45px;
                    }
                }
            }
        }
    }
}

.todos-page {
    .todos-app {
        .section {
            .section-heading {
                display: block;

                .section-icon {
                    width: fit-content;
                }

                .section-title {
                    margin-bottom: 2rem;
                }

                .calendar-container {
                    position: relative;
                    margin: 0 auto;
                    width: fit-content;

                    .clear-calendar--btn {
                        display: block;
                        margin-left: auto;
                        text-transform: capitalize;
                        background-color: $secondary-color;
                        font-family: $oswald-font;
                        padding: 0.5rem 3rem 0.5rem 2rem;
                        border-radius: 5px;
                        position: relative;
                        color: white;
                        transition: background-color 0.3s;

                        i {
                            font-size: 90%;
                            background-color: rgba(0, 0, 0, 0.051);
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 2.57142857em;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        &:hover,
                        &:active {
                            background-color: $primary-color;
                        }
                    }

                    .react-calendar {
                        width: 100%;

                        input {
                            border-bottom: 2px solid currentColor;
                            text-align: center;
                        }

                        @media (max-width: 500px) {
                            .react-calendar__viewContainer {
                                display: block !important;

                                > .react-calendar__month-view {
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
