@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");

@font-face {
    font-family: "Comic Sans MS";
    src: url(../fonts/comic.ttf) format("truetype");

    font-family: "Intro Rust G Base 2 Line";
    src: url(../fonts/IntroRustG-Base2Line.otf) format("opentype");

    font-family: "Nexa Rust Slab Shadow 01";
    src: url(../fonts/NexaRustSlab-BlackShadow01.otf) format("opentype");
}

/*=============================================
//%=        START VARIABLES        =%//
=============================================*/

//-*----------  START COLORS BASE  ----------*/

$intel-blue: #0f7dc2;

$fancyPureBlue-color: #03a9f4;

$errorDarkestColor: darkred;
$errorDarkColor: #9f3a38;
$errorLightColor: #f44336e8;
$errorLightestColor: #e0b4b4;

//-*----------  END COLORS BASE  ----------*/

//-*----------  START FONTS BASE  ----------*/

$comicNeue-font: "Comic Neue";
$comicSnsMs-font: "Comic Sans MS";
$montserrat-font: "Montserrat";
$poppins-font: "Poppins";
$roboto-font: "Roboto";
$raleway-font: "raleway";
$nexaRustShadow-font: "Nexa Rust Slab Shadow 01";
$introRustLine-font: "Intro Rust G Base 2 Line";
$lato-font: "Lato";
$oswald-font: "Oswald", sans-serif;
$righteous-font: "Righteous", cursive;
$monoton-font: "Monoton", cursive;
$ubuntu-font: "Ubuntu", sans-serif;
$arimo-font: "Arimo", sans-serif;

//-*----------  END FONTS BASE  ----------*/

$primary-color: $intel-blue;
$secondary-color: $fancyPureBlue-color;

$mainFont: $roboto-font;
$subFont: $montserrat-font;

$decorated-font: $nexaRustShadow-font;
$decorated2st-font: $introRustLine-font;

//%-*=====  PROJECT VARIABLES AND THEMES AND DEPENDENCIES  ======*-//

// In feature:
//% LIGHT-THEME:
:root,
:root.light {
    --light-bg: #fafafa;
    --dark-bg: #f2f2fc;
    --heading-color: #404040;
    --text-color: #1d1d1d;
    --dark-border: #d4d4e3;
    --light-border: #e8dfec;

    --primary-color: #16b0cf;
    --secondary-color: #6ebfb5;
    --secondary-text-color: #1d1d1d;

    --nav-height: 0;
}

//% DARK-THEME:
:root.dark {
    --light-bg: #222;
    --dark-bg: #151515;
    --light-border: #727272;
    --dark-border: #393939;
    --heading-color: #fff;
    --text-color: #e9e9e9;
}

//% SCSS-VARIABLES Colors:
$light-bg: var(--light-bg);
$dark-bg: var(--dark-bg);
$heading-color: var(--heading-color);
$text-color: var(--text-color);
$dark-border: var(--dark-border);
$light-border: var(--light-border);
$secondaryText-color: var(--secondary-text-color);

//%-*=====  End of VARIABLES  ======*-//
