@import "variables";

@mixin respond($breakpoint, $min: 0, $max: 100vw) {
    @if $breakpoint==custom-media {
        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    }

    @if $breakpoint==phone {
        @media (max-width: 425px) {
            @content;
        }
    }

    @if $breakpoint==tab-port {
        @media (max-width: 768px) {
            @content;
        }
    }

    @if $breakpoint==tab-land {
        @media (max-width: 1024px) {
            @content;
        }
    }

    @if $breakpoint==laptop {
        @media (min-width: 1400px) {
            @content;
        }
    }

    @if $breakpoint==desktop {
        @media (min-width: 1800px) {
            @content;
        }
    }
}

@mixin get-window-rest-height($subtraction-operand: 0) {
    @if ($subtraction-operand > 0) {
        min-height: calc(100vh - #{$nav-height} - #{$subtraction-operand});
    } @else {
        min-height: calc(100vh - #{$nav-height});
    }
}

@mixin submit-btn {
    display: block;
    margin: 2rem auto 0;
    font: 500 1rem $comicSnsMs-font;
    padding: 0.65rem 1rem;
    text-transform: capitalize;
    background-color: $primary-color;
    color: ghostwhite;
    border-radius: 0.5rem;

    @include respond(phone) {
        width: 100% !important;
    }
}

@mixin login-register-field-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-60%);
    color: $blacker-color;
    pointer-events: none;
    opacity: 0.5;
}

@mixin btn-icon {
    font-size: 90%;
    background-color: rgba(0, 0, 0, 0.051);
    position: absolute;
    top: 0;
    right: 0;
    width: 2.57142857em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin login-register-field {
    margin-bottom: 0.2rem;
    padding: 1rem 1rem 1rem 2.5rem;
    border: 1px solid #22242626;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 0 transparent inset;
    transition: color 0.1s ease, border-color 0.1s ease;

    &::-webkit-input-placeholder {
        color: #918985;
    }

    &:focus {
        border-color: $primary-color;
        background: #FFF;
        box-shadow: 0 0 0 0 #22242659 inset;
    }
}

@mixin login-register-exist-user-link-message {
    font-family: $decorated3rd-font;
    margin-top: 1rem;
    padding: 1rem 0;
    text-align: center;
    text-transform: capitalize;
    color: $primary-text-color;
    border: 1.5px solid #22242626;
    border-radius: 0.5rem;
    background-color: #FAFAFA;
    box-shadow: 0 1px 2px 0 #22242626;

    a {
        font-weight: 600;
        color: $primary-color;
        transition: color 0.3s;

        &:hover,
        &:active {
            color: $secondary-color;
        }
    }
}

@mixin login-register-field-container {
    position: relative;

    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }

    label {
        font-weight: 500;
        display: block;
        text-transform: capitalize;

        &::first-letter {
            font-size: large;
        }
    }

    input { @include login-register-field; }

    i { @include login-register-field-icon; }

    &:not(.error):focus-within {
        i {
            opacity: 1;
            color: $primary-color !important;
        }
    }

    &.error {
        color: $errorDark-color;

        input {
            background-color: #FFF6F6;
            border-color: $errorLightest-color;

            &::-webkit-input-placeholder {
                color: currentColor;
            }
        }

        i {
            color: inherit;
        }
    }
}

@mixin home-todos-common-style {
    @include get-window-rest-height;
    position: relative;

    .user-profile {
        display: flex;
        align-items: baseline;
        margin-bottom: 7rem;

        .user-info {
            p {
                line-height: 2;
            }
        }

        .user-avatar {
            margin-left: auto;
            cursor: pointer;

            img {
                display: inline-block;
                width: 5em;
                max-width: 100%;
                height: 5em;
                padding: 3px;
                vertical-align: middle;
                background-color: #EEE;
                border: 3px solid #CCC;
                border-radius: 500rem;
            }
        }
    }

    .todos-app {
        padding: 4rem 1rem;

        .section {
            padding: 1rem;
            border-radius: 0.5rem;
            box-shadow: 0 1px 5px 0 #00000033, 0 2px 2px 0 #00000024, 0 3px 1px -2px #0000001F;

            .section-heading {
                display: flex;
                align-items: center;
                padding-bottom: 1rem;
                border-bottom: 1px solid #0000001F;
                column-gap: 1rem;

                .section-icon {
                    padding: 1rem;
                    border-radius: 0.5rem;
                    box-shadow: 0 12px 20px -10px #29B6F647, 0 4px 20px 0px #0000001F, 0 7px 8px -5px #29B6F633;
                    transform: translateY(-66%);

                    i {
                        font-size: 2rem;
                        color: white;
                    }
                }

                .section-title {
                    font-family: $decorated3rd-font;
                    font-size: 1.25rem;
                    text-transform: capitalize;
                }
            }
        }

        .todos {
            .section-heading {
                .section-icon {
                    background: linear-gradient(60deg, $primary-color, $secondary-color);
                }
            }

            .todos-container.section-content {
                .todos-info {
                    display: flex;
                    margin: 1.5rem 0;
                    gap: 0.5rem;

                    span {
                        display: block;
                        padding: 0.5rem 1rem;
                        text-transform: capitalize;
                        color: white;
                        border-radius: 0.25rem;
                    }

                    .all-todos {
                        background-image: linear-gradient(45deg, $primary-color, $secondary-color);
                    }

                    .all-todos--complete {
                        background-image: linear-gradient(45deg, #25B499, darken($color: #25B499, $amount: 15%));
                    }

                    .all-todos--incomplete {
                        background-image: linear-gradient(45deg, #F33A6D, darken($color: #F33A6D, $amount: 25%));
                    }

                    @include respond(phone) {
                        flex-wrap: wrap;
                    }
                }

                .todos-list {
                    margin-top: 1rem;

                    .todo-item {
                        position: relative;
                        display: flex;
                        align-items: center;
                        padding: 1.6rem 1rem 0.5rem;
                        gap: 1rem;

                        &:not(:first-child) {
                            margin-top: 1rem;
                            border-top: 1px solid #0000001F;
                        }

                        .todo__created-date {
                            font: 500 70% $decorated3rd-font;
                            position: absolute;
                            top: 7px;
                            left: 10px;
                        }

                        form {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            flex: 1;

                            .todo__form__inputs-container {
                                display: flex;
                                align-items: center;
                                flex: 1;
                                justify-content: space-between;
                                flex-wrap: wrap;
                                gap: 1rem;

                                .field:not(.date--picker) {
                                    position: relative;
                                    flex: 1;
                                    height: fit-content;

                                    input {
                                        border-bottom: 2px solid #B2B2B2;
                                    }

                                    &::after {
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        width: 100%;
                                        content: "";
                                        border-bottom: 2px solid $secondary-color;
                                        transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
                                        transform: scaleX(0);
                                    }

                                    &:focus-within {
                                        &::after {
                                            transform: scaleX(1);
                                        }
                                    }
                                }

                                .date--picker {
                                    flex: 0.5;

                                    .react-datepicker-wrapper {
                                        width: 100%;

                                        input {
                                            text-align: right;
                                            color: #0000008A;
                                            border-bottom: 2px solid #B2B2B2;
                                        }
                                    }
                                }
                            }
                        }

                        .todo__complete-task {
                            input[type="checkbox"] {
                                display: none;

                                + label {
                                    font-size: 1rem;
                                    display: block;
                                    margin: -1px 4px 0 0;
                                    color: #333;

                                    span {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        width: 30px;
                                        height: 30px;
                                        cursor: pointer;
                                        vertical-align: middle;
                                        border: 2px solid #FFF;
                                        border-radius: 50%;
                                        box-shadow: 0 1px 3px 0 #00000054, 0 -1px 3px 0 #00000054;

                                        img {
                                            opacity: 0;
                                        }
                                    }
                                }

                                &:checked + label span {
                                    background-color: #2ECC71;

                                    img {
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        .todo__task {
                            flex: 1;

                            .todo__task__estimate-date {
                                font-size: 80%;
                                color: #616161;
                            }
                        }

                        .todo__actions {
                            display: flex;
                            align-items: center;

                            button {
                                font-size: 1rem;
                                flex: 1;
                                width: 50px;
                                height: 50px;
                                padding: 1rem;
                                text-align: center;
                                border-radius: 50%;
                                transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

                                &:hover {
                                    background-color: #00000014;
                                }

                                &.todo__actions__edit-btn {
                                    color: #6ABE6D;
                                }

                                &.todo__actions__delete-btn {
                                    color: #F44336;
                                }

                                &.todo__actions__confirm-btn {
                                    color: #6ABE6D;
                                }

                                &.todo__actions__cancel-btn {
                                    color: #F44336;
                                }
                            }
                        }

                        &.completed {
                            background-color: #EEE;
                            border-radius: 0.5rem;

                            .todo__task {
                                p {
                                    text-decoration: line-through;
                                }
                            }
                        }

                        @include respond(phone) {
                            form {
                                .todo__form__inputs-container {
                                    .field,
                                    .date--picker {
                                        flex-basis: 100%;
                                    }

                                    .date--picker {
                                        .react-datepicker-wrapper {
                                            input {
                                                text-align: left;
                                            }
                                        }
                                    }
                                }
                            }

                            .todo__actions {
                                align-self: flex-end;

                                .todo__actions__confirm-btn,
                                .todo__actions__cancel-btn {
                                    font-size: 1.15rem;
                                }
                            }
                        }
                    }
                }
            }

            .message {
                font-size: 1rem;
                font-weight: 600;
                padding: 2rem 0;
                text-align: center;
                text-transform: capitalize;
            }
        }

        .loader {
            padding: 2rem 0 1.25rem;
            text-align: center;
        }

        @media (min-width: 991px) {
            width: 60% !important;
        }
    }
}
